body{
    background-color: rgb(66, 127, 129);
}

a{
    display: flex;
    justify-content: center;
    top: 90%;
}
.logo{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#uno {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 50px;
    height: 50px;
}

#dos {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 50px;
    height: 50px;
}

#tres {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 50px;
    height: 50px;
}

#cuatro {
    position: absolute;
    top: 50%;
    left: 75%;
    width: 50px;
    height: 50px;
}

#cinco {
    position: absolute;
    top: 90%;
    left: 10%;
    width: 50px;
    height: 50px;
}

#seis {
    position: absolute;
    top: 80%;
    left: 35%;
    width: 50px;
    height: 50px;
}

#siete {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 50px;
    height: 50px;
}

#ocho {
    position: absolute;
    top: 90%;
    left: 70%;
    width: 50px;
    height: 50px;
}

#nueve {
    position: absolute;
    top: 20%;
    left: 90%;
    width: 50px;
    height: 50px;
}

#diez {
    position: absolute;
    top: 70%;
    left: 90%;
    width: 50px;
    height: 50px;
}
#once {
    position: absolute;
    top: 20%;
    left: 70%;
    width: 50px;
    height: 50px;
}

@media (max-width: 768px) {
    #uno #dos #tres #cuatro #cinco #seis #siete #ocho #nueve #diez #once{
        flex-direction: column;
        align-items: center;
    }
    #uno {
        top: 10%;
        left: 10%;
    }

    #dos {
        top: 20%;
        left: 80%;
    }

    #tres {
        top: 20%;
        left: 50%;
    }

    #cuatro {
        top: 40%;
        left: 70%;
    }

    #cinco {
        top: 50%;
        left: 10%;
    }

    #seis {
        top: 60%;
        left: 30%;
    }

    #siete {
        top: 70%;
        left: 50%;
    }

    #ocho {
        top: 68%;
        left: 70%;
    }

    #nueve {
        top: 90%;
        left: 10%;
    }

    #diez {
        top: 85%;
        left: 45%;
    }

    #once {
        top: 30%;
        left: 20%;
    }
}

